.favourite {
	margin: 0 auto;
	max-width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__image {
		margin-top: 252px;
		width: 70px;
		height: 70px;
	}

	&__title {
		margin: 24px 0 0 0;
		max-width: 254px;
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		color: #000000;
		text-align: center;
	}

	&__description {
		margin: 11px 0 70px 0;
		max-width: 290px;
		opacity: 0.4;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #000000;
	}

	&__button {
		cursor: pointer;
		box-sizing: border-box;
		padding: 17px 0 19px 0;
		width: 245px;
		height: 55px;
		border: none;
		border-radius: 18px;
		background: #9dd458;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #ffffff;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			opacity: 0.8;
		}

		span {
			position: absolute;
			top: 18px;
			right: 45px;
		}
	}

	&__button-image {
		position: absolute;
		top: 20px;
		left: 30px;
	}
}
